{% extends 'movie_app/base.html' %}

{% block title %} Все фильмы {% endblock %}
{% block content %}
    <h2>Список всех фильмов</h2>
    <ul>
        {% for item in movies %}
            <li>
                Название фильма <a href="{{ item.get_url }}">{{ item.name }}</a>>,
                Рейтинг - {{ item.rating }},
                Бюджет -{{ item.budget }},
                год-{{ item.year|default:"Неизвестен" }},
            </li>
        {% endfor %}
    </ul>
    <h3>Всего фильмов - {{ aggregate.id__count }}</h3>
    <h3>Общий бюджет - {{ aggregate.budget__sum }}</h3>
    <h3>Средний бюджет - {{ aggregate.budget__avg }}</h3>
    <h3>Минимальный рейтинг -  {{ aggregate.rating__min }}</h3>
    <h3>Максимальный рейтинг -  {{ aggregate.rating__max }}</h3>
{% endblock %}